# Dependency directories
node_modules/

# next.js build output
.next
.next/

# production server output
dist

# annoying or secret hidden files / directories
.DS_Store
.DS_Store/
.env
docs/idea
yarn-error.log
yarn-error.log
bundles/client.html
src/components/infinite-loader-SAFETY.blah
pages/messages_OLD.blah
react-geomicons.d.tsOLD
src/server/routes.ts_OLD
graphql.schema.json
