# Dependency directories
node_modules/

# next.js build output
.next
.next/

# production server output
dist

# server key and certificate directory for
# local dev
private/

# annoying or secret hidden files / directories
.DS_Store
.DS_Store/
.env
docs/idea
yarn-error.log
yarn-error.log
bundles/client.html
src/components/infinite-loader-SAFETY.blah
pages/messages_OLD.blah
react-geomicons.d.tsOLD
graphql.schema.json

# static images that I need to keep until S3 is fully configured
static/images/discover/cards/hotel_gatsby.png
static/images/discover/cards/hotel_table.png
static/images/discover/cards/ny_art_museum.png
static/images/login/bg.png
static/images/bg.css
static/images/bg.png
static/images/blissful2.svg
static/images/logoX.svg
static/images/discover/activity.svg
static/images/discover/amenities-sprite.svg
static/images/discover/amenities-sprite2.svg
static/images/discover/chat.svg
static/images/discover/cloudy.svg
static/images/discover/comment.svg
static/images/discover/day_plans.svg
static/images/discover/dining.svg
static/images/discover/dot.svg
static/images/discover/explore.svg
static/images/discover/hotel-restaurant.svg
static/images/discover/inn-bar.svg
static/images/discover/love.svg
static/images/discover/map-pin.svg
static/images/discover/menu.svg
static/images/discover/menu2.svg
static/images/discover/more_dark.svg
static/images/discover/more.svg
static/images/discover/night_club.svg
static/images/discover/night-club.svg
static/images/discover/parking_spot.svg
static/images/discover/parking-spot.svg
static/images/discover/pin.svg
static/images/discover/pool.svg
static/images/discover/profile.svg
static/images/discover/save_button.svg
static/images/discover/save-button-optimized.svg
static/images/discover/save-button.svg
static/images/discover/saved.svg
static/images/discover/search.svg
static/images/discover/share.svg
static/images/discover/star.svg
static/images/discover/swimming.svg
static/images/discover/thumbs.svg
static/images/discover/travels.svg
static/images/discover/weather_sunny.svg
static/images/discover/wifi.svg
static/images/register/check-email.svg
static/bg.png
static/images/atlas-logo.svg
yarn-error.log
